.env
.vscode
.idea

scripts/list_missing_cards/.venv
scripts/list_missing_cards/python/__pycache__
scripts/list_missing_cards/python/src/__pycache__
scripts/list_missing_cards/python/tests/__pycache__